<!doctype html>
<html lang="en">
    <head>
        <title>Shall we play a game?</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Ork BGG -- The board game organizer.">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"
            integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
            integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/bgg.min.css">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" method="post" id="form">
                    <button type="button" class="btn btn-lg btn-primary">Clear</button>
                    <select name="username" class="form-select form-select-lg ms-2">
                        <option value="">Any user</option>
{% for user in users %}
                        <option value="{{ user }}"{{ post.username == user ? ' selected' }}>{{ user }}</option>
{% endfor %}
                    </select>
                    <select name="numPlayersType" class="form-select form-select-lg ms-2">
                        <option value="atLeast"{{ post.numPlayersType == 'atLeast' ? ' selected' : '' }}>At least</option>
                        <option value="suggested"{{ post.numPlayersType == 'suggested' ? ' selected' : '' }}>Suggested</option>
                    </select>
                    <select name="numPlayers" class="form-select form-select-lg ms-2">
                        <option value="">Any players</option>
{% for players in range(1, 10) %}
                        <option value="{{ players }}"{{ post.numPlayers == players ? ' selected' }}>
                            {{ players }} player{{ players > 1 ? 's' }}
                        </option>
{% endfor %}
                    </select>
                    <select name="maxPlayTime" class="form-select form-select-lg ms-2">
                        <option value="">Any play time</option>
{% for playtime, label in {15: '15m', 30: '30m', 45: '45m', 60: '60m', 90: '1h 30m', 120: '2h', 180: '3h'} %}
                        <option value="{{ playtime }}"{{ post.maxPlayTime == playtime ? ' selected' }}>max {{ label }}</option>
{% endfor %}
                    </select>
                    <select name="maxWeight" class="form-select form-select-lg ms-2">
                        <option value="">Any weight</option>
{% for weight in [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5] %}
                        <option value="{{ weight }}"{{ post.maxWeight == weight ? 'selected' }}>max {{ weight|number_format(1) }}</option>
{% endfor %}
                    </select>
                    <select name="cooperative" class="form-select form-select-lg ms-2">
                        <option value="">Any type</option>
                        <option value="0"{{ post.cooperative is defined and post.cooperative == 0 ? ' selected' : '' }}>competitive</option>
                        <option value="1"{{ post.cooperative is defined and post.cooperative == 1 ? ' selected' : '' }}>cooperative</option>
                    </select>
                    <select name="expansions" class="form-select form-select-lg ms-2">
                        <option value="0"{{ post.expansions ? '' : ' selected' }}>Excluding expansions</option>
                        <option value="1"{{ post.expansions is not defined or post.expansions ? ' selected' : '' }}>Including expansions</option>
                    </select>
                    <input name="search" class="form-control form-control-lg ms-2" type="text" placeholder="Search" autocomplete="off" value="{{ post.search }}">
                </form>
            </div>
        </nav>
        <div id="container">
            <table id="table" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Game</th>
                        <th class="text-center d-none d-md-table-cell">Rank</th>
                        <th class="text-center">Rating</th>
                        <th class="text-center">Players</th>
                        <th class="text-center">Play Time</th>
                        <th class="text-center">Weight</th>
                        <th class="text-center d-none d-lg-table-cell">Year</th>
                    </tr>
                </thead>
                <tbody>
{% if games is empty %}
                    <tr>
                        <td colspan="7">No matches.</td>
                    </tr>
{% else %}
{% for game in games %}
                    <tr class="text-center align-middle" data-game-id="{{ game.id }}">
                        <td class="text-start">
                            <img class="d-none d-lg-inline" src="{{ game.thumbnail }}" alt="{{ game.name }}">
                            {{ game.name }}
                        </td>
                        <td class="d-none d-md-table-cell">
                            {{ game.rank ?: 'N/A' }}
                        </td>
                        <td>
                            {{ game.geekRating|number_format(2) }}
                        </td>
                        <td>
                            {{ game.minPlayers }}{{ game.maxPlayers > game.minPlayers ? ' - ' ~ game.maxPlayers }}
                            ({{ game.recommendedPlayers }})
                        </td>
                        <td>
                            {{ game.minPlayTime }}{{ game.maxPlayTime > game.minPlayTime ? ' - ' ~ game.maxPlayTime }}
                        </td>
                        <td>
                            {{ game.weight|number_format(2) }}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {{ game.yearPublished }}
                        </td>
                    </tr>
{% endfor %}
{% endif %}
                </tbody>
            </table>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"
            integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
            integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>
        <script src="/bgg.min.js"></script>
    </body>
</html>
